/* =============== public ================ */
body {
  min-height: 100vh;
  /* height: 100%; */
  margin: 0;
  background-color: black;
  position: relative;
  /* background-image: url("./image/92a2a8afefed44ea8a67abd2c7717140.jpg"); */
}
body > div {
  /* position: relative; */
  /* height: 100%; */
  /* max-width: 1280px; */
  min-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.bgwrap {
  position: absolute;
  /* background: url("./image/291ff8e1-0db8-4c6e-9221-3cdfad93e165.jpg"); */
  background-image: url("./image/291ff8e1-0db8-4c6e-9221-3cdfad93e165.jpg");
  background-size: cover;
  background-repeat: none;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
#goMain {
  border: none;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  opacity: 0.7;
  position: fixed;
  top: 10px;
  min-width: 34px !important;
  z-index: 100;
}
/* =============== main ================ */
#menu {
  z-index: 2;
  position: absolute;
  border: none;
  /* background-color: #6dd5bc; */
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}
#menu:hover {
  font-size: 1.1rem;
  text-shadow: 6px 6px 6px #aaa;
  transition-duration: 0.4s;
}
#morePage {
  position: absolute;
  left: 0;
  /* float: left; */
  width: 240px;
  height: 100%;
  /* overflow: hidden; */
  /* background-color: #6dd5bc; */
  margin-left: -240px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  /* padding-top: 200px; */
  background-color: black;
  z-index: 1;
}
#morePage > div {
  margin-top: 180px;
}
.sideMenu {
  margin-bottom: 50px;
  cursor: pointer;
  font-family: "Indie Flower", cursive;
  letter-spacing: 4px;
  font-size: 48px;
  transition-duration: 0.4s;
}
.sideMenu:hover {
  text-shadow: 6px 6px 6px #aaa;
  font-size: 60px;
  transition-duration: 0.4s;
}
/* .backImage {
  position: absolute;
  background-image: url("./image/291ff8e1-0db8-4c6e-9221-3cdfad93e165.jpg");
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  height: 100%;
} */
#main {
  position: relative;
  /* float: right;
  height: 720px;
  width: 1200px; */
  /* text-align: center; */
  color: white;
  /* padding-top: 25vh; */
  font-size: 48px;
  user-select: none;
}
#main > h4 {
  font-family: "Indie Flower", cursive;
  padding-right: 210px;
  text-align: right;
  font-size: 30px;
  cursor: default;
  /* margin-top: -10%; */
}
#main > h2 {
  padding-top: 100px;
  text-align: center;
  font-size: 150px;
  font-family: "Tangerine", serif;
  cursor: default;
  /* font-family: "Indie Flower", cursive; */
}

/* ============= profile =============== */
.resWrap {
  min-width: 90% !important;
  width: 900px;
  height: 1200px;
  position: relative;
  margin: 60px;
  /* overflow: scroll; */
  /* left: 50%;
  transform: translate(-45%); */
}
#resume {
  /* box-sizing: border-box; */
  position: absolute;
  width: 90%;
  height: 100%;
  /* padding-top: 20px;
  margin-bottom: 30px; */
  background-image: url("./image/feaple-profile.jpg");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  float: left;
  /* margin: 50px 50px; */
}
/* #resume > img {
  width: 100vh;
} */

/* =============== site ================ */
.siteLink {
  color: white;
  font-family: "Tangerine", serif;
  font-size: 80px;
  text-decoration: none;
  text-align: center;
  font-weight: lighter;
  cursor: pointer;
  height: 0px;
  margin-top: 0;
  min-width: 100%;
}
.siteLink:hover {
  font-size: 90px;
  text-shadow: 6px 6px 6px white;
  transition-duration: 0.4s;
  display: block;
}
.siteHover {
  display: none;
  background-color: gray;
  height: 24px;
  width: 170px;
  position: absolute;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  color: white;
  opacity: 0.8;
  left: 50%;
  margin-top: -35px;
}
.about {
  color: white;
  font-family: "Courgette", cursive;
  font-size: 20px;
  font-weight: lighter;
  /* margin-left: 500px; */
  /* width: 1000px; */
  position: relative;
  height: 55px;
  min-width: 534px;
}
.about > div {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.myPart {
  color: white;
  font-family: "Courgette", cursive;
  font-size: 20px;
  font-weight: lighter;
  margin: 0 5px;
  /* margin-bottom: 15vh; */
  /* margin-left: 10px; */
  float: left;
  cursor: pointer;
  /* height: 30px; */
}
.myPart:hover {
  font-size: 23px;
  transition-duration: 0.4s;
}
.gitLink {
  text-decoration: none;
  color: white;
}
.gitLink:hover {
  font-size: 18px;
  transition-duration: 0.4s;
}

#awethumbExplain,
#BitExplain {
  /* width: 700px;
  left: 500px;
  float: left; */
  position: relative;
  color: white;
  display: block;
  /* text-align: center; */
}
.explain {
  /* margin-top: -80px;
  left: 350px; */
  width: 100%;
  float: left;
  position: relative;
  color: white;
  display: none;
  cursor: default;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 100px;
}
.explain > div {
  text-align: center;
}

/* =============== skill ================ */
#usedSkill {
  color: white;
  font-family: "Tangerine", serif;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  /* margin-top: 100px;
  margin-bottom: 150px; */
}
.skillWrap {
  width: 300px;
  height: 200px;
}
.skills {
  /* width: 100%; */
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-left: 120px; */
  float: left;
}
.skillName {
  color: white;
  font-size: 20px;
  /* font-family: "Tangerine", serif; */
  font-family: "Courgette", cursive;
  width: 200px;
  font-weight: lighter;
  margin: 0;
  /* margin-left: 110px; */
}
.skillDiv {
  /* height: 350px;
  width: 400px; */
  float: left;
  margin: 10px 15px;
}
